{% trans_default_domain "AstinaRedirectManagerBundle" %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Astina redirect Manager</title>
    {% block javascripts %}

        <script type="text/javascript" src="{{ asset('bundles/astinaredirectmanager/js/main.js') }}"></script>

    {% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            {% for key, message in app.session.flashbag.all %}
                <div class="alert alert-{{ key }}">
                    {{ message | trans }}
                </div>
            {% endfor %}

            {% block armb_content %}
            {% endblock armb_content %}
        </div>
    </div>
</body>
</html>
