{% trans_default_domain "AstinaRedirectManagerBundle" %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Astina redirect Manager</title>
    {% block javascripts %}{% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="page-header">
                <h1>{{ 'redirects' | trans }}</h1>
            </div>

            {% block armb_content %}
            {% endblock armb_content %}
        </div>
    </div>
</body>
</html>
